<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.mapper.CouponsMapper">
    <select id="findCouponsById" resultType="coupons">
        select * from coupons where id=#{id}
    </select>
    <select id="findCouponsByUserId" resultType="coupons">
        select * from coupons where user_id=#{userId}
    </select>
    <select id="findCouponsByBussId" resultType="coupons">
        select * from coupons where buss_id=#{bussId}
    </select>
    <select id="findAll" resultType="coupons" parameterType="coupons">
        select * from coupons
    </select>
    <insert id="saveT">
        INSERT INTO  `coupons`(
        `create_at`,
        `modify_at`,
        `user_id`,
        `money`,
        `coupons_no`,
        `type`
        ) VALUES (
        #{createAt},
        #{modifyAt},
        #{userId},
        #{money},
        #{couponsNo},
        #{type}
        )
    </insert>
    <update id="updateT" parameterType="coupons">
         update coupons SET money = #{money} WHERE id = #{id}
    </update>
</mapper>