<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.mapper.OrderMapper">
    <select id="findAll" resultType="order">
      SELECT * from `order` where 1=1 ORDER BY `modify_at` ;

    </select>
    <select id="findAllmini">
        SELECT * from `order` where 1=1 ORDER BY `modify_at` limit 0,600;
    </select>

    <select id="findOrderByAliId">
        SELECT * FROM `order` WHERE `ali_id`=#{aliId} ORDER BY `modify_at` limit 0,600
    </select>
    <select id="findOrderByBusinessId">
        select * from `order` where `business_id`=#{businessId}
    </select>
    <insert id="saveT">
        insert INTO `order`(
        `open_id`,
        `ali_id`,
        `order_no`,
        `pay_fee`，
         `trade_no`
         ) VALUES (
        #{openId},
        #{aliId},
        #{orderNo},
        #{payFee},
        #{tradeNo}
        )
    </insert>
    <insert id="saveAsWX" parameterType="order">
         insert INTO `order`(
        `open_id`,
        `order_no`,
        `pay_fee`,
        `in_coupon`,
        `de_coupon`,
        `input_fee`,
        `business_id`,
        `create_at`,
         `trade_no`
         ) VALUES (
        #{openId},
        #{orderNo},
        #{payFee},
        #{inCoupon},
        #{deCoupon},
        #{inputFee},
        #{businessId},
        #{createAt},
        #{tradeNo}
        )
    </insert>
    <select id="findOrderByOpenId"  resultType="orderForMini">
        SELECT
        o.`create_at`,
        o.`input_fee`,
        o.`in_coupon`,
        o.`de_coupon`,
        o.`pay_fee`,
        s.`name` business_name,
        s.`pic` business_pic,
        o.`business_id`
        FROM `order` o LEFT JOIN `shop` s ON o.`business_id`=s.`id`
        WHERE
        o.`open_id`=#{openid} LIMIT 0,600
    </select>
    <insert id="saveAsAli" parameterType="order">
         insert INTO `order`(
        `alipay_id`,
        `order_no`,
        `pay_fee`,
        `in_coupon`,
        `de_coupon`,
        `input_fee`,
        `business_id`,
        `create_at`,
         `trade_no`
         ) VALUES (
        #{alipayId},
        #{orderNo},
        #{payFee},
        #{inCoupon},
        #{deCoupon},
        #{inputFee},
        #{businessId},
        #{createAt},
        #{tradeNo}
        )
    </insert>
    <select id="findOrderByOrderNo" resultType="order">
        SELECT * FROM  `order` where `oeder`.`order_no`=#{orderNo}
    </select>
    <select id="findOrderSumCouponByOpenId" resultType="sumBonus">
        select sum(o.`in_coupon`) `sum_in_coupon`,sum( o.`de_coupon`) `sum_de_coupon` from `order` o where o.`open_id`=#{openid}
    </select>


</mapper>