<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.mapper.ShopTypeMapper">

    <select id="findBigType" resultType="shoptype">
      SELECT * from shop_type where parent_code = "0"

    </select>
    <select id="findSmailTypeByBigCode" resultType="shoptype">
      SELECT * from shop_type where parent_code = #{parentCode}
    </select>
    <select id="findByCode" resultType="shoptype">
      SELECT * from shop_type where code = #{code}
    </select>

    <select id="findShopTypeListByShop" resultType="shoptype">
      SELECT
        sht.*
      FROM
        (SELECT
          st.*
        FROM
          `shop`s
        LEFT JOIN
          shop_type st
        ON
          s.type = st.code
        WHERE
          s.del = 1)a
      LEFT JOIN
        shop_type sht
      ON
        a.parent_code = sht.code
      GROUP BY
        sht.code
      ORDER BY
        sht.code
      LIMIT 15
    </select>
</mapper>