<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.mapper.ShopMapper">

    <select id="findLikeBussIdAndAddrAndName" resultType="shop" parameterType="shop">
        SELECT
        s.`id` ,s.`create_at`,s.`modify_at`,s.`code`,s.`addr`,s.`name`,s.`pic`,s.`info`,s.`del`,s.`area`,s.`type`,s.`mobile`,t.name `type_name`
        FROM
        `shop` s left JOIN shop_type t on s.type=t.code
        <where>
            1=1
            <if test="code != null and code!='' ">
                AND s.`code` like CONCAT('%',#{code},'%')
            </if>
            <if test="addr != null and addr!='' ">
                AND s.`addr` like CONCAT('%',#{addr},'%')
            </if>
            <if test="name != null and name!='' ">
                AND s.`name` like CONCAT('%',#{name},'%')
            </if>
            AND del=1 Order by s.`id` desc
        </where>

    </select>
    <select id="findAll" resultType="shop" parameterType="shop">
        SELECT s.`id` ,s.`create_at`,s.`modify_at`,s.`code`,s.`addr`,s.`name`,s.`pic`,s.`info`,s.`del`,s.`area`,s.`type` , s.`mobile`,t.name `type_name` FROM `shop` s left JOIN shop_type t on s.type=t.code WHERE 1=1 and s.`del`=1 Order by s.`id` desc
    </select>
    <update id="deleteById" parameterType="java.lang.Long">
        update shop set   `del`=0
        WHERE id = #{id}


    </update>
    <insert id="saveT" parameterType="shop" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `shop`(
            `code`,
            `addr`,
            `name`,
            `pic`,
            `info`,
            `create_at`,
            `modify_at`,
            `mobile`,
            `type`,
            `area`
        )
          VALUES (
            #{code},
            #{addr},
            #{name},
            #{pic},
            #{info},
            #{createAt},
            #{modifyAt},
            #{mobile},
            #{type},
            #{area}
          )
    </insert>
    <update id="updateById" parameterType="shop">
        UPDATE `shop`
        <trim prefix="set" suffixOverrides=",">
            <if test="code!=null">`code`= #{code},</if>
            <if test="addr!=null">`addr`= #{addr},</if>
            <if test="name!=null">`name`= #{name},</if>
            <if test="pic!=null">`pic`= #{pic},</if>
            <if test="info!=null">`info`= #{info},</if>
            <if test="modifyAt!=null">`modify_at`= #{modifyAt},</if>
            <if test="mobile!=null">`mobile`= #{mobile},</if>
            <if test="area!=null">`area`=#{area},</if>
            <if test="type!=null">`type`=#{type}</if>

        </trim>
        WHERE `id`=#{id}
    </update>
    <select id="findById" parameterType="java.lang.Long" resultType="shop">
        SELECT
        *
        FROM `shop`
        where id=#{id} AND  del=1 Order by s.`id` desc
    </select>

    <select id="findShopByNameAndArea" resultType="shop" parameterType="java.lang.String">
        SELECT * FROM `shop` WHERE `del`=1 AND `area` = #{area} Order by s.`id` desc
    </select>

    <select id="findShopByName" parameterType="java.lang.String" resultType="shop">
        SELECT
          *
        FROM
          `shop`
        WHERE
          `name` like CONCAT('%',#{name},'%')
        AND
          `del` = 1 Order by s.`id` desc
    </select>

    <select id="findShopByNameAndTypeAndArea" parameterType="shop" resultType="shop">
        SELECT
        *
        FROM
        `shop`
        WHERE
        `del` = 1
        <if test="name != 'null' and name!='' ">
            AND `name` like CONCAT('%',#{name},'%')
        </if>
        <if test="type != 'null' and type!='' ">
            AND substr(`type`, 1, 2) = #{type}
        </if>
        <if test="area != 'null' and area!='' ">
            AND `area` = #{area}
        </if>
    </select>
</mapper>