<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="market-footer" data-th-fragment="footer">

    <div class="flex-div-center">
        <p>© 2018 江苏掌源智能科技有限公司</p>
    </div>

    <!-- JavaScript -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>

    <!--<script src="../../plugins/bootstrap3/js/bootstrap.js" th:src="@{/plugins/bootstrap3/js/bootstrap.js}"></script>-->

    <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>

    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>

    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

    <script src="../../js/main.js" th:src="@{/js/main.js}"></script>

    <script th:src="@{/js/photoswipe/photoswipe.min.js}"></script>
    <script th:src="@{/js/photoswipe/photoswipe-ui-default.min.js}"></script>
    <script th:src="@{/js/main/photo-swipe.js}"></script>
</footer>

</body>
</html>