<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div th:insert="~{main/div-header::div-header}" id="div-head"></div>
<div class="park-content-container">

    <div class="row">
        <div th:replace="~{fragments/left :: left}"></div>
        <div class="col-md-10 col-xl-10">
            <div class="card" id="rightContainer" th:switch="${pageType}">
                <div th:case='usersIndex'><!--用户管理html-->
                    <div th:replace="~{users/list :: users-index}"></div>
                </div>
                <div th:case='parkIndex'><!--停车场管理html-->
                    <div th:replace="~{park/list :: park-index}"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}">...</div>

<script th:src="@{/js/users/main.js}" th:if="${pageType eq 'usersIndex'}"></script><!--用户管理js-->
<script th:src="@{/js/layer.js}" th:if="${pageType eq 'parkIndex'}"></script>


</body>
</html>