<div class="container">

    <form th:action="@{/shop}" method="post" th:object="${shopModel.shop}" id="shopForm" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="*{id}">
        <input type="hidden" name="code" th:value="*{code}">


        <div class="form-group ">
            <label for="addr" class="col-form-label">商户地址</label>
            <input type="text" class="form-control" id="addr" name="addr" th:value="*{addr}" maxlength="11"
                   placeholder="请输入详细地址">
        </div>

        <div class="form-group">
            <label for="name" class="col-form-label">商户名称</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{name}" maxlength="50"
                   placeholder="请输入商户名称">
        </div>

        <div class="form-group">
            <label for="pic" class="col-form-label">头像</label>
            <input type="file" class="form-control" id="pic" name="file"
                   placeholder="请选择头像">
        </div>
        <div class="form-group ">
            <label for="info" class="col-form-label">商户简介</label>
            <textarea class="form-control" id="info" name="info" th:text="*{info}"
                      placeholder="请输入商户简介">*{info}</textarea>
        </div>

    </form>

</div>
<!-- /.container -->
